***Data Loading and Initial Inspection***

In [47]:
import pandas as pd
import matplotlib.pyplot as plt

df = pd.read_csv("DKHousingPricesSample100k.csv")

print(df.head())
print(df.shape)
print(df.info())
print(df.describe())

         date quarter  house_id house_type    sales_type  year_build  \
0  2024-10-24  2024Q4        16      Villa  regular_sale        1997
1  2024-10-24  2024Q4        13  Apartment  regular_sale        1885
2  2024-10-23  2024Q4        60      Villa  regular_sale        1949
3  2024-10-23  2024Q4        29      Villa  regular_sale        2001
4  2024-10-22  2024Q4        92  Apartment  regular_sale        1965

   purchase_price  %_change_between_offer_and_purchase  no_rooms    sqm  \
0         6500000                                 -3.0         5  142.0
1         3400000                                  0.0         2   46.0
2         4550000                                 -4.0         4  112.0
3         1630000                                -12.0         4  186.0
4         1975000                                -10.0         3   82.0

   sqm_price                          address  zip_code             city  \
0  45774.650                     Spættevej 16      2680    Solrød Strand
1  73913.050  Jakob Dannefærds Vej 10B, 4. th      1973  Frederiksberg C
2  40625.000             Vestre Plantagevej 3      2680    Solrød Strand
3   8763.440                     Toftebjerg 3      4400       Kalundborg
4  24085.365        Ryttergårdsvej 20, 1. 113      3520            Farum

                  area   region  nom_interest_rate%  dk_ann_infl_rate%  \
0  Capital, Copenhagen  Zealand                 3.1                NaN
1  Capital, Copenhagen  Zealand                 3.1                NaN
2  Capital, Copenhagen  Zealand                 3.1                NaN
3        Other islands  Zealand                 3.1                NaN
4        North Zealand  Zealand                 3.1                NaN

   yield_on_mortgage_credit_bonds%
0                              NaN
1                              NaN
2                              NaN
3                              NaN
4                              NaN
(100000, 19)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 19 columns):
 #   Column                               Non-Null Count   Dtype
---  ------                               --------------   -----
 0   date                                 100000 non-null  object
 1   quarter                              100000 non-null  object
 2   house_id                             100000 non-null  int64
 3   house_type                           100000 non-null  object
 4   sales_type                           100000 non-null  object
 5   year_build                           100000 non-null  int64
 6   purchase_price                       100000 non-null  int64
 7   %_change_between_offer_and_purchase  100000 non-null  float64
 8   no_rooms                             100000 non-null  int64
 9   sqm                                  100000 non-null  float64
 10  sqm_price                            100000 non-null  float64
 11  address                              100000 non-null  object
 12  zip_code                             100000 non-null  int64
 13  city                                 99989 non-null   object
 14  area                                 100000 non-null  object
 15  region                               100000 non-null  object
 16  nom_interest_rate%                   100000 non-null  float64
 17  dk_ann_infl_rate%                    99923 non-null   float64
 18  yield_on_mortgage_credit_bonds%      99923 non-null   float64
dtypes: float64(6), int64(5), object(8)
memory usage: 14.5+ MB
None
           house_id     year_build  purchase_price  \
count  1.000000e+05  100000.000000    1.000000e+05
mean   7.531364e+05    1955.078530    1.925992e+06
std    4.348902e+05      45.703585    1.777832e+06
min    1.300000e+01    1000.000000    2.502000e+05
25%    3.770722e+05    1931.000000    8.000000e+05
50%    7.511035e+05    1966.000000    1.400000e+06
75%    1.128904e+06    1980.000000    2.450000e+06
max    1.507901e+06    2024.000000    4.595500e+07

       %_change_between_offer_and_purchase       no_rooms            sqm  \
count                        100000.000000  100000.000000  100000.000000
mean                             -2.084740       4.375790     129.387820
std                               4.852926       1.661686      57.170619
min                             -49.000000       1.000000      26.000000
25%                              -3.000000       3.000000      89.000000
50%                               0.000000       4.000000     123.000000
75%                               0.000000       5.000000     160.000000
max                              49.000000      15.000000     984.000000

           sqm_price       zip_code  nom_interest_rate%  dk_ann_infl_rate%  \
count  100000.000000  100000.000000       100000.000000       99923.000000
mean    16406.648074    5951.612680            1.679263           1.927025
std     13655.184405    2369.938171            2.048078           1.638440
min       374.549800    1051.000000            0.000000           0.250000
25%      6792.940775    4000.000000            0.000000           0.790000
50%     12070.707000    5970.000000            0.750000           1.850000
75%     21343.201500    8250.000000            3.250000           2.340000
max     75000.000000    9990.000000            9.500000           7.700000

       yield_on_mortgage_credit_bonds%
count                     99923.000000
mean                          4.107445
std                           2.194428
min                           1.100000
25%                           2.120000
50%                           4.340000
75%                           5.500000
max                          10.140000

***Data Cleaning***

In [48]:
cols_to_drop = [
    "zip_code",
    "address",
    "house_id",
    "date",
    "%_change_between_offer_and_purchase",
    "nom_interest_rate%",
    "area",
    "dk_ann_infl_rate%",
    "yield_on_mortgage_credit_bonds%"
]

df.drop(columns=cols_to_drop, inplace=True)

***Handling Missing Values***

In [49]:
print(df.isna().sum())

# Remove records with missing city values
df.dropna(subset=["city"], inplace=True)

print(df.isna().sum())

quarter            0
house_type         0
sales_type         0
year_build         0
purchase_price     0
no_rooms           0
sqm                0
sqm_price          0
city              11
region             0
dtype: int64
quarter           0
house_type        0
sales_type        0
year_build        0
purchase_price    0
no_rooms          0
sqm               0
sqm_price         0
city              0
region            0
dtype: int64

***Time Feature Extraction & Ordinal Encoding***

In [50]:
df["year"] = df["quarter"].str[:4].astype(int)
df["quarter_num"] = df["quarter"].str[-1].astype(int)

df.drop(columns=["quarter"], inplace=True)

***High-Cardinality Feature Handling***

In [51]:
print("Number of unique regions:", df["region"].nunique())
print("Number of unique cities:", df["city"].nunique())

# Drop high-cardinality feature
df.drop(columns=["city"], inplace=True)

Number of unique regions: 4
Number of unique cities: 607

***Categorical Feature Encoding***

In [52]:
categorical_cols = ["house_type", "region", "sales_type"]

df_encoded = pd.get_dummies(
    df,
    columns=categorical_cols,
    drop_first=True
)

***Outlier Detection***

In [46]:
# df_encoded["purchase_price"].plot.box()